
$mainFontColor: #898;
$mainBorderColor: #cdc;
$pastFontColor: #a2a2a2;
$pastBorderColor: #d6d6d9;
$presentFontColor: #275473;
$presentBorderColor: #83acbf;
$futureFontColor: #2e7758;
$futureBorderColor: #82bf8f;


$topWindow: linear-gradient(to bottom, #fff, #ddd, #ddd, #eee, #eee );